body {
  background-color: #E8ECEF;
}
  
.centered {
  margin: auto;
  padding: 12rem 2rem;
  text-align: center;
}
  
.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
  